<div>
    <form [formGroup]="loginForm"
        style="display:flex; flex-direction:column; margin: 60px auto 20px; width:450px; border: 1px solid gray; border-radius: 20px; padding: 0 30px 30px; background-color: white">
        <h3>Log In</h3>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="loginForm.get('email').hasError('required')">
                Invalid Email!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="loginForm.get('password').hasError('required')">
                Min string length is 3!
            </mat-error>
        </mat-form-field>
        <button mat-raised-button style="width: 110px">Login</button>
    </form>
    <div style="display: flex; justify-content: center; ">
        <div style="display: flex; align-items: center; color: blue">Don't have an account? <span
                style="cursor: pointer; color: brown; margin-right: 170px; margin-left: 10px"
                [routerLink]="['/auth/registration']">Go to registration form </span> </div>
    </div>
</div>