<div class="login-wrap">
    <form [formGroup]="loginForm">
        <h3>Log In</h3>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="loginForm.get('email').hasError('required')">
                Invalid Email!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
            <mat-error *ngIf="loginForm.get('password').hasError('required')">
                Min string length is 3!
            </mat-error>
        </mat-form-field>
        <button mat-raised-button (click)="onLogin()">Login</button>
    </form>
    <div class="link-wrap">
        <div class="link-to-register">Don't have an account? <span style="cursor: pointer; color: brown; margin-left: 10px" [routerLink]="['/auth/registration']">Go to registration form </span> </div>
        <div class="forgot-password">Forgot your password?<span class="reset" (click)="openDialog()">Reset password</span></div>
    </div>
</div>