.admin-wrap {
    min-height: 766px;
    table {
        width: 100%;
    }
    .user-delete {
        display: flex;
        justify-content: flex-end;
        span {
            cursor: pointer;
        }
    }
}