.admin-wrap {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    // .mat-elevation-z8 {
    //     width: 80%;
    // }
    

}

.admin-wrap-content {
    width: 90%;
    table {
        width: 100%;
    }
    .user-delete {
        display: flex;
        justify-content: flex-end;
        span {
            cursor: pointer;
        }
    }
}

.mat-elevation-z8 {
    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        mat-form-field {
            width: 60%;
        }
        button {
            width: 10%;
        }
    }
}

.ng-hide {
    margin: 10px 0 30px;
}

.cell-delete {
    width: 50px
}

.edit-form {
    display: flex;
    flex-direction: column;
    width: 520px;
    button {
        width: 10%;
    }
}