<div class="reset-wrap">
    <form [formGroup]="resetForm">
        <div class="header-wrap">
            <h3>Reset password</h3>
        </div>
        <div>
            <mat-form-field class="input-pass-wrap">
                <input matInput type='password' placeholder="New password" formControlName="newPassword">
                <mat-error *ngIf="resetForm.get('newPassword').hasError('required')">
                    Password must be at least 3 characters!
                </mat-error>
            </mat-form-field>
            <mat-form-field class="input-pass-wrap">
                <input matInput type='password' placeholder="Confirm new password" formControlName="confirmedNewPassword">
                <mat-error *ngIf="resetForm.get('confirmedNewPassword').hasError('required')">
                    Password must be at least 3 characters!
                </mat-error>
            </mat-form-field>
        </div>

        <div class="button-pass-wrap">
            <button mat-raised-button class="button-pass" (click)="resetPassword()">Save</button>
        </div>
    </form>
</div>
