.reset-wrap {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; 
    form {
        display: flex;
        flex-direction: column;
        width: 700px;
        padding: 10px;
        .header-wrap {
            display: flex;
            background-color: rgb(238, 238, 238);
            padding: 5px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(145, 144, 144, 0.774);
            h3 {
                font-weight: 500;
                margin: 10px 0;
            }
        }
        .input-pass-wrap {
            width: 330px;
            margin-right: 20px;
        }
    }
}