<div class="details-wrap">
    <div class="back-to-home" [routerLink]="['/home']"><i class="material-icons"> arrow_back_ios </i><span>Back to home</span> </div>
    <h2>Book's details</h2>
    <div class="item-wrap">
        <div>
            <img src={{book.bookImage}} alt="book's image">
        </div>
        <div class="books-data">
            <h3>{{book.title}}</h3>
            <h4>Author: <span class="author-name">{{book.author}}</span> </h4>
            <p>{{book.description}}</p>
            <div class="book-price"><span>Price: {{book.price}} $</span></div>
            <button id={{book._id}} mat-raised-button color="accent" style="width: 110px" (click)="addToCart($event)">Add to Cart</button>

        </div>
       
    </div>
    
</div>

